@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row mx-auto">
        <div class="col-4">
            <div class="border border-dark border item-slo w-100t" style="height: 200px;">
                <ul>
                    @* <li><span>@Armor.Place :</span>@Armor.Name</li> *@
                    @* <li><span>Strength :</span>@Armor.Strength</li> *@
                    @* <li><span>Agility :</span>@Armor.Agility</li> *@
                    @* <li><span>Intelligence :</span>@Armor.Intelligence</li> *@
                </ul>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <img src="~/images/character.png" alt="character">
        </div>
        <div class="col-4">
            <div class="border border-dark border item-slo w-100t" style="height: 200px;">
                <ul>
                    @* <li><span>@Armor.Place :</span>@Armor.Name</li> *@
                    @* <li><span>Strength :</span>@Armor.Strength</li> *@
                    @* <li><span>Agility :</span>@Armor.Agility</li> *@
                    @* <li><span>Intelligence :</span>@Armor.Intelligence</li> *@
                </ul>
            </div>
        </div>
    </div>
</div>