@model IEnumerable<ninjamanager.Models.ShopItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mx-auto mb-3">
        <div class="col-6">
            <p>Items found: </p>
        </div>
        <div class="col-6 p-0">
            <div class="float-end d-flex sorting gap-3">
                <select class="form-select shadow-none">
                    <option value="newest">New to old</option>
                    <option value="oldest">Old to New</option>
                    <option value="highlow">High to low</option>
                    <option value="lowhigh">Low to high</option>
                </select>
            </div>
        </div>

    </div>

    <div class="row mx-auto">
        <div class="col-3 filter-bar ">
            @* voorbeeld filter mischien iets van type (helm body..), rarity (comon, rare...), prijs(prisj tussen .. en ..) *@
            <div class="container bg-white py-3">
                <div>
                    <button class="btn mb-2 p-0 text-start collapsible">Category</button>
                    <div class="content category">
                        <div>
                            @if (ViewBag.Categories != null)
                            {
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <div class="">
                                        <input class="form-switch" type="checkbox" id="@category.Id">
                                        <label class="" for="@category.Id">@category.Name</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 gallery">
            <div class="container pe-0">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @if (ViewBag.Items != null)
                    {
                        @foreach (var item in ViewBag.Items)
                        {
                            <div class="col item">
                                <div class="h-100">
                                    <div class="card h-100 p-3 position-relative border-0 rounded-0">
                                        <div class="card-content w-100 h-100">
                                            <div class="card-body">
                                                <p class="card-text-title text-center fw-bolder">@item.Name </p>
                                                <p class="card-text  d-none ">
                                                    @* @item.Description *@
                                                </p>
                                            </div>
                                            <div class="card-footer align-items-center row mx-auto w-100 bg-white">
                                                <div class="priceDiv">
                                                    <p class="price text-center">€&nbsp;@item.Price</p>
                                                </div>
                                                <div class="btnDiv">
                                                    <button type="submit" class="btn btn-success end-0 w-100 bottom-0">Buy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>